<!DOCTYPE html>
{% load app_tags %}
{% load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="{% static 'css/testpaperstyle.css' %}">
</head>
<body>
    <div id="top"></div>
    <H1>EXAM PAGE</H1>
    <div id="question">
    <h3> {{que|quote}}</h3>
    {% get_date %}
    </div>
    <div>
    <input type="radio" name="option">{{a}}</input><br>
    <input type="radio" name="option">{{b}}</input><br>
    <input type="radio" name="option">{{c}}</input><br>
    <input type="radio" name="option">{{d}}</input><br>
    </div>
</body>
</html>